
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depth Map</title>
    <style>
        .image{
            max-width: 500px;
            max-height: 500px;
            width: auto;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Depth Map & Height</h1>
    <br><br>
    <img src="{{imageurl}}" class="image" alt="Sample Image">
    <br><br>
    <p>{{status}}</p>
</body>
</html>
